header{
    #btn__menu{
        display: none;
    
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: rgba(177, 177, 177, 0.2);
            color: #000;
            margin-top: 35px;
            margin-bottom: -60px;
            margin-left: 90%;
            font-size: 20px;
            border-radius: 50px;
            cursor: pointer;
            transition: all 300ms;
            z-index: 888;
        }

        @include tablet-medium {
            margin-left: 670px;
        }

        @include mobile-medium {
            margin-left: 365px;
        }
    }
    #btn__menu:hover {
        @include tablet {
            background: rgba(255, 255, 255, 0.2);
        }
    }
    #back_menu{
        
        @include tablet {
            position: fixed;
            top: 0;
            left: 0;
            width: 67.5%;
            height: 120vh;
            backdrop-filter: blur(5px);
            display: none;
            z-index: 777;
            transition: all 300ms;
        }
    }
    nav {
        font-family: $typo-apple-actually;
        height: 90px;
        background: #fff;
        position: fixed;
        z-index: 999;
        width: 1350px;
    
        @include tablet {
            position: fixed;
            top: 0;
            right: -250px;
            background: #fff;
            width: 250px;
            height: 120vh;
            display: flex;
            transition: all 300ms;
        }
    
        .menu {
            position: relative;
            margin: 0 auto;
            max-width: 1200px;
            overflow: hidden;
    
            ul {
                width: 100%;
                margin: 1.8% 0% 0% 0%;
                padding-right: 0;
                display: flex;
                justify-content: space-between;
                font-size: .9rem;
                font-weight: 300;
    
                @include tablet {
                    display: flex;
                    flex-direction: column;
                    margin-top: 34px;
                    margin-left: 0px;
                    font-size: 1em;
                }
    
                .nav__item{
                    margin-top: .5%;
    
                    @include tablet {
                        margin-top: -6%;
                        margin-left: 1px;
                    }
    
                    .logo {
    
                        @include tablet{
                            display: none;
                        }
                    }
    
                    .isotipo {
                        display: none;
    
                        @include tablet {
                            display: flex;
                            width: 80px;
                            height: 80px;
                            margin-top: 40px;
                            margin-left: 46px;
                            margin-bottom: 25px;
                        }
                    }
    
    
                    .nav__link{
                        position: relative;
                        transition: all 0.1ms;
                    }
                    .active{
                        color: map-get($color--bordo , dreyja );
                        font-weight: 400;
                        text-decoration: underline map-get($color--bordo , dreyja );
                        text-decoration-style: solid;
                        text-decoration-thickness: 20px;
                        text-underline-offset: 24px;
                        z-index: 888;     
    
                        @include tablet{
                            color: map-get($color--bordo , dreyja );
                            font-size: 1em;
                            font-weight: 600;
                            text-decoration: none;
                            text-underline-offset: 24px; 
                        }
                    }
                    
                    .nav__link::after{
                        content: '';
                        opacity: 0;
                        transition: all 0.5ms;
                        position: absolute;
                        pointer-events: none;
                    }
                }
    
                li {
                    list-style: none;
    
                    a.menu-item {
                        transform: scale(1);
                        transition: 0.5s;
                        display: block;
    
                        &.hide-item {
                            transform: scale(0);
                        }
                    }
                } 
    
                li:nth-child(2) a.menu-item.hide-item{
                    transition-delay: 0.35s;
                }
                li:nth-child(3) a.menu-item.hide-item{
                    transition-delay: 0.3s;
                }
                li:nth-child(4) a.menu-item.hide-item{
                    transition-delay: 0.25s;
                }
                li:nth-child(5) a.menu-item.hide-item{
                    transition-delay: 0.2s;
                }
                li:nth-child(6) a.menu-item.hide-item{
                    transition-delay: 0.15s;
                }
                li:nth-child(7) a.menu-item.hide-item{
                    transition-delay: 0.1s;
                }
                li:nth-child(8) a.menu-item.hide-item{
                    transition-delay: 0s;
                }
    
                li:nth-child(2) a.menu-item{
                    transition-delay: 0s;
                }
                li:nth-child(3) a.menu-item{
                    transition-delay: 0.1s;
                }
                li:nth-child(4) a.menu-item{
                    transition-delay: 0.15s;
                }
                li:nth-child(5) a.menu-item{
                    transition-delay: 0.20s;
                }
                li:nth-child(6) a.menu-item{
                    transition-delay: 0.25s;
                }
                li:nth-child(7) a.menu-item{
                    transition-delay: 0.30s;
                }
                li:nth-child(8) a.menu-item{
                    transition-delay: 0.35s;
                }
    
                .logo {
                    width: 8.5rem;
                    height: 2.4rem;
                    margin-left: -10%;
                }
    
                li, a {
                    color: #000;
                    line-height: 65px;
                    text-decoration: none;
                    font-family: $typo-poppins;
                    font-weight: 300;
                }
                .bi-search{

                    @include tablet {
                        display: none;
                    }
                }
            }
        }
    
        .search-form{
            position: absolute;
            top: 13%;
            left: 50%;
            transform: translateX(0);
            width: 600px;
            height: 44px;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;

            input{
                width: 100%;
                height: 44px;
                background: rgba(231, 231, 231, 0.678);
                color: #000;
                border: 1px solid #999999;
                border-radius: 20px;
                padding: 10px;
                outline: none;
                font-size: 16px;
            }
        .search-form::before{
            content: '\f002';
            position: absolute;
            top: 12px;
            left: -26px;
            font-size: 18px;
            color: #fff;
            font-family: $typo-apple;
            }
        .search-form input::placeholder{
            color: #fff;
            }
        }
        .search-form.active{
            opacity: 1;
            visibility: visible;
            transition-delay: 0.27s;
            transform: translateX(-50%);
            margin-top: 2%;
        }
        .close{
            position: absolute;
            right: 84px;
            height: 44px;
            background: #fff;
            color: #000;
            line-height: 44px;
            font-size: 18px;
            text-align: right;
            width: 20px;            
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
        }
        .close.active{
            top: 43%;
            margin-right: -9px;
            opacity: 1;
            visibility: visible;
        }
        .bottom-line{
            height: 4.3px;
            background-color: map-get($color--azul, dreyja );
            width: 100%;
            position: fixed;
            top: 5.5rem;
            left: 0;
            z-index: 777;
            
            @include tablet {
                display: none;
            }
        }
        //Buscador de contenido
        #box-search{
            display: none;
            position: fixed;
            top: 83px;
            width: 600px;
            background-color: #fff;
            z-index: 888;
            left: 50%;
            transform: translateX(-50%);
            li{
                list-style: none;
                text-decoration: none;
                a{
                    display: block;
                    width: 600px;
                    color: #777777;
                    padding: 8px 0px;
                    font-size: .9em;
                    i{
                        margin-right: 10px;
                        color: #777777;
                    }
                }
            }
            li:hover{
                background: #f3f3f3;
            }
        }
        #cover-ctn-search{
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            backdrop-filter: blur(10px) ;
            display: none;
        }
    
        
    }
}

